<!DOCTYPE html>
<html>
  <head>
    <title>Templates picker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
  </head>
  <body>
    <a href="output/mobile_email_verification.html">Mobile Email Verification</a>
    <br>
    <a href="output/mobile_reset_password.html">Mobile Reset Password</a>
    <br>
    <a href="output/web_email_verification.html">Web Email Verification</a>
    <br>
    <a href="output/web_reset_password.html">Web Reset Password</a>
  </body>

</html>